<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Savory Bites. Start your tasteful journey. Explore various interesting restaurants.">
  <link rel="icon" href="./restaurant.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#DB0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />

  <title>Savory Bites</title>
</head>

<body>
  <header id="appbar">
    <div class="logo-container">
      <a href="#main" class="skip">Skip to main content</a>
      <h1 class="logo-title"><a href="">Savory Bites</a></h1>
    </div>
    <button id="hamburgerButton" class="header-menu">☰</button>
  </header>

  <nav id="drawer" class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#/home">Home</a></li>
      <li class="nav-item"><a href="#/favorite">Favorite</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/deni-d-46041a213/">About</a></li>
    </ul>
  </nav>

  <div class="hero-section">
    <picture>
      <source media="(max-width: 600px)" srcset="./images/heros/hero-image_4-small.jpg">
      <img src="./images/heros/hero-image_4-large.jpg" alt="hero-image">
    </picture>
      <div class="text-container">
        <h2 class="hero-title">Start your tasteful journey</h2>
        <p class="hero-tagline">Explore various interesting restaurants here</p>
    </div>
  </div>

  <main id="main"></main>

  <footer>
    <p>Copyright © 2023 - Savory Bites</p>
  </footer>
</body>

</html>